body {
    font-family: 'Poppins', sans-serif;
  }
  
  /* 400 weight */
  .light-text {
    font-weight: 400;
  }
  
  /* 500 weight */
  .medium-text {
    font-weight: 500;
  }
  
  /* 600 weight */
  .semi-bold-text {
    font-weight: 600;
  }
  
  /* 700 weight */
  .bold-text {
    font-weight: 700;
  }
  